<%- include('./public/m-header', {
plugin: ['http://static.huoxing24.com/assets/swiper.min.css'],
private: ['./css/m-index.css']
}) %>

<div class="clearfix">
m-index
</div>

<%- include('./public/m-footer', {
plugin: ['http://static.huoxing24.com/assets/swiper.jquery.min.js'],
private: ['./js/m-index.js']
}) %>
