<div class="hx-main-other">
    <div>
        <!-- 新闻轮播 -->
        <div class="comment-news-content">
            <div class="swiper-container">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-wrapper comment-news-div clearfix" style="transform: translateX(-2420px); width: 3630px;">
                    <div class="swiper-slide comment-news">
                        <a target="_blank" href="/newsdetail?id=2018042219091221342">
                            <div class="img-div">
                                <img class="news-img" src="http://static.huoxing24.com/images/2018/04/22/1524395310647054.jpg"alt="">
                            </div>
                            <span class="mode"></span>
                            <p class="title">张首晟：区块链共识建立在数学之上</p>
                        </a>
                    </div>
                    <div class="swiper-slide comment-news">
                        <a target="_blank" href="/newsdetail?id=2018042216573632845">
                            <div class="img-div">
                                <img class="news-img" src="http://static.huoxing24.com/images/2018/04/22/1524387439578150.jpg" alt="">
                            </div>
                            <span class="mode"></span>
                            <p class="title">陈伟星揭示区块链韭菜犯罪三种模式，曝柏拉图(PLATO)项目为“传销模型”</p>
                        </a>
                    </div>
                    <div class="swiper-slide comment-news"><a target="_blank" href="/newsdetail?id=2018042215383538667">
                            <div class="img-div"><img class="news-img"
                                                      src="http://static.huoxing24.com/images/2018/04/22/1524382706928862.jpg"
                                                      alt=""></div>
                            <span class="mode"></span>
                            <p class="title">显卡矿机 VS ASIC矿机：一场永不休止的挖矿争夺战</p></a></div>
                    <div class="swiper-slide comment-news"><a target="_blank" href="/newsdetail?id=2018042214382848249">
                            <div class="img-div"><img class="news-img"
                                                      src="http://static.huoxing24.com/images/2018/04/22/1524379965777924.jpg"
                                                      alt=""></div>
                            <span class="mode"></span>
                            <p class="title">世界区块链大会组委会携手“三点钟无眠区块链”主办：第一届世界区块链大会（W...</p></a></div>
                    <div class="swiper-slide comment-news"><a target="_blank" href="/newsdetail?id=2018042120495304276">
                            <div class="img-div"><img class="news-img"
                                                      src="http://static.huoxing24.com/images/2018/04/21/1524314886193135.jpg"
                                                      alt=""></div>
                            <span class="mode"></span>
                            <p class="title">从李笑来和BM的江湖往事，看EOS超级节点竞选的“盛世隐忧”</p></a></div>
                    <div class="swiper-slide comment-news"><a target="_blank" href="/newsdetail?id=2018042118502150748">
                            <div class="img-div"><img class="news-img"
                                                      src="http://static.huoxing24.com/images/2018/04/21/1524307796733180.jpg"
                                                      alt=""></div>
                            <span class="mode"></span>
                            <p class="title">习近平：要发展数字经济，加快推动数字产业化</p></a></div>
                    <div class="swiper-slide comment-news"><a target="_blank" href="/newsdetail?id=2018040920461067764">
                            <div class="img-div"><img class="news-img"
                                                      src="http://static.huoxing24.com/images/2018/04/09/1523277660271514.jpg"
                                                      alt=""></div>
                            <span class="mode"></span>
                            <p class="title">40天，火星社群里的54场区块链主题分享全纪录（更新至4月21日）</p></a></div>
                    <div class="swiper-slide comment-news"><a target="_blank" href="/newsdetail?id=2018042023023754819">
                            <div class="img-div"><img class="news-img"
                                                      src="http://static.huoxing24.com/images/2018/04/20/1524236550087420.jpg"
                                                      alt=""></div>
                            <span class="mode"></span>
                            <p class="title">中国区块链百强榜：行业分布广泛，个股表现优秀</p></a></div>
                    <div class="swiper-slide comment-news"><a target="_blank" href="/newsdetail?id=2018042017563856767">
                            <div class="img-div"><img class="news-img"
                                                      src="http://static.huoxing24.com/images/2018/04/20/1524218158513498.jpg"
                                                      alt=""></div>
                            <span class="mode"></span>
                            <p class="title">CSDN蒋涛：DCO——区块链时代企业级服务的全新机会</p></a></div>
                    <div class="swiper-slide comment-news"><a target="_blank" href="/newsdetail?id=2018042017521778979">
                            <div class="img-div"><img class="news-img"
                                                      src="http://static.huoxing24.com/images/2018/04/20/1524217911547460.jpg"
                                                      alt=""></div>
                            <span class="mode"></span>
                            <p class="title">数字货币交易所的“革命前夜”：交易机器人、黑客危机与天价收割</p></a></div>
                    <div class="swiper-slide comment-news"><a target="_blank" href="/newsdetail?id=2018042017054475911">
                            <div class="img-div"><img class="news-img"
                                                      src="http://static.huoxing24.com/images/2018/04/20/1524216122004557.jpg"
                                                      alt=""></div>
                            <span class="mode"></span>
                            <p class="title">北美区块链扫描：硅谷打败华尔街 区块链能打败硅谷么</p></a></div>
                    <div class="swiper-slide comment-news"><a target="_blank" href="/newsdetail?id=2018042016415767776">
                            <div class="img-div"><img class="news-img"
                                                      src="http://static.huoxing24.com/images/2018/04/20/1524213655847951.jpg"
                                                      alt=""></div>
                            <span class="mode"></span>
                            <p class="title">EOS权力之争，“温州帮”携40亿杀入</p></a></div>
                    <div class="swiper-slide comment-news"><a target="_blank" href="/newsdetail?id=2018042014284204388">
                            <div class="img-div"><img class="news-img"
                                                      src="http://static.huoxing24.com/images/2018/04/20/1524205703147674.jpg"
                                                      alt=""></div>
                            <span class="mode"></span>
                            <p class="title">新华社：区块链如何带来个人数据保护“革命”</p></a></div>
                    <div class="swiper-slide comment-news"><a target="_blank" href="/newsdetail?id=2018042010185132955">
                            <div class="img-div"><img class="news-img"
                                                      src="http://static.huoxing24.com/images/2018/04/20/1524190710947531.jpg"
                                                      alt=""></div>
                            <span class="mode"></span>
                            <p class="title">460余种传销币种与资金盘曝光</p></a></div>
                    <div class="swiper-slide comment-news"><a target="_blank" href="/newsdetail?id=2018042009382186086">
                            <div class="img-div"><img class="news-img"
                                                      src="http://static.huoxing24.com/images/2018/04/20/1524188293430899.jpg"
                                                      alt=""></div>
                            <span class="mode"></span>
                            <p class="title">对待加密货币的态度成为美国政客们的筹码</p></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="inquire-img">
        <!-- 广告 -->
        <div class="news-img clearfix">
            <a href="http://www.huoxing24.com/news?id=9" target="_blank" style="width: 100%; height: 100%;">
                <img src="http://static.huoxing24.com/images/2018/04/09/1523258008348416.gif" alt="">
                <span class=""></span>
            </a>
        </div>
    </div>
    <!-- 7*24小时快讯 -->
    <div class="real-time-news">
        <div class="real-time-top clearfix">
            <div class="real-left">
                <img src="/img/realTimeNews/icon-real-time.png" >
                7x24小时快讯
            </div>
            <a class="real-right" target="_blank" href="/livenews">MORE&nbsp;&nbsp;&gt;</a>
        </div>
        <div class="real-time-bottom">
            <div class="news-con-wrap active">
                <!-- item -->
                <div class="news-con clearfix">
                    <p>
                        <span>15:26</span>&nbsp;&nbsp;|&nbsp;&nbsp;【人民银行数字货币研究所所长姚前：不能容忍打着ICO名义的欺诈】人民银行数字货币研究所所长姚前表示，区块链技术在中国应用当中是出现过一些小的波折。比如曾经以ICO命名的，实际上是欺诈的活动，国家对这个是不能容忍的。但是国家对于底层的支撑技术本身它的整个创新的研究，无论是技术的研究，基础应用的研究，都是持非常鼓励和支持的态度。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- 新闻主体内容 -->
    <div class="index-news clearfix">
        <!-- 左边新闻 -->
        <%- include('./newsList', {data: data.newsData}) %>
        <!-- 右边内容 -->
        <div class="index-right-contain clearfix">
            <!-- 广告 -->
            <div class="ad-contain">
                <div class="ad-box clearfix">
                    <div class="ad-left">
                        <div class="news-img clearfix">
                            <a href="https://alax.io/cn/index.html" target="_blank" style="width: 100%; height: 100%;">
                                <img src="http://static.huoxing24.com/images/2018/04/13/1523624956529109.png" alt="">
                                <span class="active"></span>
                            </a>
                            <a href="https://tq.ultrapower.com.cn" target="_blank"
                                                                     style="width: 100%; height: 100%;"><img
                                        src="http://static.huoxing24.com/images/2018/03/27/1522140727036228.jpg" alt=""><span
                                        class="active"></span></a><a href="http://www.dcc.finance" target="_blank"
                                                                     style="width: 100%; height: 100%;"><img
                                        src="http://static.huoxing24.com/images/2018/03/28/1522250015450849.jpg" alt=""><span
                                        class="active"></span></a></div>
                    </div>
                    <div class="ad-right">
                        <div class="news-right-img clearfix">
                            <div class="news-img clearfix"><a href="http://www.extrade.com/cn/index.html"
                                                              target="_blank" style="width: 100%; height: 100%;"><img
                                            src="http://static.huoxing24.com/images/2018/03/07/1520416974156150.png"
                                            alt=""><span class="active"></span></a><a href="http://www.xiaoqing.ai/"
                                                                                      target="_blank"
                                                                                      style="width: 100%; height: 100%;"><img
                                            src="http://static.huoxing24.com/images/2018/03/07/1520433968911448.jpg"
                                            alt=""><span class="active"></span></a><a
                                        href="http://pixiecoin.io/index.html" target="_blank"
                                        style="width: 100%; height: 100%;"><img
                                            src="http://static.huoxing24.com/images/2018/03/04/1520105591967560.jpg"
                                            alt=""><span class="active"></span></a></div>
                        </div>
                    </div>
                </div>
                <div class="ad-swiper-contain">
                    <div id="adSwiper" class="ad-swiper swiper-container swiper-container-horizontal">
                        <div class="swiper-wrapper"></div>
                        <div class="swiper-pagination swiper-pagination-bullets"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
            <!-- 热门专题 -->
            <%- include('./indexCenter', {data: data.hotColumn}) %>
            <!-- 火星专栏 -->
            <%- include('./indexRight', {data: data.authorList, userId: data.userId}) %>
        </div>
    </div>
</div>