<div class="message-banner">
    <div class="message-banner-box">
        <div class="currency-introduce"></div>
        <div class="currency-deal">
            <div class="kind">
                <select id="currencySelect" class="currency-select">
                    <option selected value="1">人民币</option>
                    <option value="0">美元</option>
                </select>
            </div>
            <div id="currencyDealContent"></div>
        </div>
    </div>
    <div class="currency-introduce-pop">
        <div class="close"></div>
        <h6>项目介绍</h6>
        <div class="introduce-cont"></div>
    </div>
    <div class="shade"></div>
</div>