<%
// 格式化价格 保留6位有效数字
const formatPrice = (val) => {
    // console.log(val)
    if (!val) {
        return 0
    }
    let price = val
    if (val > 1) {
        price = price.toPrecision(6)
    } else {
        let valStr = val.toString()
        let str = valStr.substring(valStr.indexOf('.') + 1)
        if (str > 5) {
            price = price.toFixed(5)
        } else {
            price = val
        }
    }
    return price
}

const renderLen = 11
%>
<div id="containMain" data-rate="<%= JSON.stringify(data.rateData) %>">
    @@include('./messageBanner.ejs')
    <!-- tab header -->
    <div class="project-info-head">
        <div class="info-head">
            <a data-type="material" class="active"  href="javascript:void(0)"><span>项目数据</span></a>
            <a data-type="news" class="" href="javascript:void(0)"><span>相关新闻</span></a>
        </div>
    </div>
    <div class="project-classify">
        <!-- 项目数据 -->
        @@include('./projectMaterial.ejs')
        <!-- 相关新闻 -->
        @@include('./projectNews.ejs')
    </div>
</div>