<div class="market-correlation-news clearfix" style="display: none">
    <div class="news-let">
        <div id="newsListContent"></div>
        <div class="clearfix"></div>
        <div id="newsMore" class="check-more-load clearfix">查看更多</div>
    </div>
    <div class="news-right">
        <ul class="correlation-news-title">
            <li>市场</li>
            <li>交易对</li>
            <li>价格</li>
            <li>占比</li>
        </ul>
        <div class="market-correlation-list">
            <table>
                <tbody>
                <tr>
                    <td>OKEx</td>
                    <td>BTC/USDT</td>
                    <td>¥59110</td>
                    <td>3.88%</td>
                </tr>
                </tbody>
            </table>
            <div class="clearfix"></div>
            <div class="check-more-load clearfix project-table-more" style="border-top: 1px solid rgb(238, 238, 238); margin-right: 10px;">
                查看更多
            </div>
        </div>
    </div>
</div>