<%
// 加0
export const add0 = (num) => {
    return num >= 10 ? num : '0' + num
}

// 获取时分
export const getHourMinute = (time) => {
    const timeTemp = new Date(time)
    return `${add0(timeTemp.getHours())}:${add0(timeTemp.getMinutes())}`
}
%>
<div class="flash-news-content">
    <div class="flash-news-list">
        <div class="news-head"><em class="active">全部</em><em data-channelid="1" class="">监管动态</em><em data-channelid="2"
                                                                                                      class="">交易所公告</em><em
                    data-channelid="3" class="">重大行情</em><em data-channelid="4" class="">观点</em></div>
        <ul class="news-date">
            <li class="date-item active" data-date="1524787200000">27日</li>
            <li class="date-item " data-date="1524700800000">26日</li>
            <li class="date-item " data-date="1524614400000">25日</li>
            <li class="date-item " data-date="1524528000000">24日</li>
            <li class="date-item " data-date="1524441600000">23日</li>
            <li class="date-item " data-date="1524355200000">22日</li>
            <li class="date-item " data-date="1524268800000">21日</li>
            <p class="update-num" style="display: none;"><span>更新</span><span class="num"> 1 </span><span><span>条</span></span>
            </p></ul>
        <ul class="flash-news-list">
            <%
            data.inforList.map((item) => {
            %>
            <li class="flash-news">
                <div class="news-item">
                    <span class="<%= item.tag === 2 ? 'important-news' : '' %>"> </span>
                    <span class="new-time">getHourMinute(item.createdTime)</span>
                    <p class="news-detail" style="color: <%= item.tag === 2 && 'red' %>">
                        <%= item.content %>
                        <%
                        if (!item.url) {%>
                        <%} else {%>
                        <a href="<%= item.url %>" style="color: #1482f0" target="_blank"> 「查看原文」</a>
                        <%}
                         %>
                    </p>
                    <div class="judge-profit">
                        <p class="good-profit active">
                            <span>利好</span>
                            <span> 2 </span>
                            <span class="event-click" data-id="2018042721373359458" data-index="0"></span>
                        </p>
                        <p class="bad-profit ">
                            <span>利空</span>
                            <span> 0 </span>
                            <span class="event-click" data-id="2018042721373359458" data-index="0"></span>
                        </p>
                    </div>
                </div>
            </li>
            <%
            })
             %>
        </ul>
        <div class="clearfix"></div>
        <div class="check-more-load clearfix">查看更多</div>
    </div>
    <div class="hot-news-wrap">
        <div class="aside-section">
            <div class="aside-title-name clearfix"><span class="aside-title-title">热门新闻</span></div>
            <div class="aside-title">
                <div class="aside-title-con">
                    <div class="news-recommend clearfix" style="width: 300px;">
                        <div class="new-list-box">
                            <div class="list-box" style="padding-top: 0px; border-top: 0px;">
                                <div>
                                    <div class="left-img"><img
                                                src="http://static.huoxing24.com/images/2018/04/25/1524656323563051.png"
                                                alt=""></div>
                                    <span class="right-text">波场孙宇晨两小时回应王峰十问：宁可背负骂名把事情做成，也不做悲剧英雄</span></div>
                            </div>
                            <div class="list-box" style="padding-top: 16px; border-top: 1px solid rgb(235, 235, 235);">
                                <div>
                                    <div class="left-img"><img
                                                src="http://static.huoxing24.com/images/2018/04/25/1524651902152477.jpg"
                                                alt=""></div>
                                    <span class="right-text">薛蛮子惊现第一届世界区块链大会，“蛮子十问”点亮区块链发展迷雾</span></div>
                            </div>
                            <div class="list-box" style="padding-top: 16px; border-top: 1px solid rgb(235, 235, 235);">
                                <div>
                                    <div class="left-img"><img
                                                src="http://static.huoxing24.com/images/2018/04/25/1524650233277242.jpg"
                                                alt=""></div>
                                    <span class="right-text">火星晚八点 | 今晚九点半王峰十问继续，将对话波场TRON创始人孙宇晨；威斯康星州召开听证会讨论比特币政治献金政策</span>
                                </div>
                            </div>
                            <div class="list-box" style="padding-top: 16px; border-top: 1px solid rgb(235, 235, 235);">
                                <div>
                                    <div class="left-img"><img
                                                src="http://static.huoxing24.com/images/2018/04/26/1524735519348730.jpg"
                                                alt=""></div>
                                    <span class="right-text">DATA联合创始人叶阳：数字生态是区块链最能发挥作用的场景之一 | 火星社群</span></div>
                            </div>
                            <div class="list-box" style="padding-top: 16px; border-top: 1px solid rgb(235, 235, 235);">
                                <div>
                                    <div class="left-img"><img
                                                src="http://static.huoxing24.com/images/2018/04/24/1524568983895531.jpg"
                                                alt=""></div>
                                    <span class="right-text">Feedsky创始人吕欣欣：日本对于虚拟货币以及区块链的态度比较激进 | 火星社群</span></div>
                            </div>
                            <div class="list-box" style="padding-top: 16px; border-top: 1px solid rgb(235, 235, 235);">
                                <div>
                                    <div class="left-img"><img
                                                src="http://static.huoxing24.com/images/2018/04/25/1524642301759129.jpg"
                                                alt=""></div>
                                    <span class="right-text">EOS 超级节点竞选者“预赛”分析</span></div>
                            </div>
                            <div class="list-box" style="padding-top: 16px; border-top: 1px solid rgb(235, 235, 235);">
                                <div>
                                    <div class="left-img"><img
                                                src="http://static.huoxing24.com/images/2018/04/25/1524639933786713.jpg"
                                                alt=""></div>
                                    <span class="right-text">从Facebook数据泄密门，看区块链如何保护我们的隐私</span></div>
                            </div>
                            <div class="list-box" style="padding-top: 16px; border-top: 1px solid rgb(235, 235, 235);">
                                <div>
                                    <div class="left-img"><img
                                                src="http://static.huoxing24.com/images/2018/04/25/1524639177321409.jpg"
                                                alt=""></div>
                                    <span class="right-text">科普 | 比特币金融、货币扩张与市场价格</span></div>
                            </div>
                            <div class="list-box" style="padding-top: 16px; border-top: 1px solid rgb(235, 235, 235);">
                                <div>
                                    <div class="left-img"><img
                                                src="http://static.huoxing24.com/images/2018/04/25/1524616193897800.jpg"
                                                alt=""></div>
                                    <span class="right-text">火星早八点 | 日本金融厅计划于4月27日召开第二次加密货币交易所研究会；MyEtherWallet：DNS服务器被劫持 用户被转移到了钓鱼页面</span>
                                </div>
                            </div>
                            <div class="list-box" style="padding-top: 16px; border-top: 1px solid rgb(235, 235, 235);">
                                <div>
                                    <div class="left-img"><img
                                                src="http://static.huoxing24.com/images/2018/04/26/1524747496827735.jpg"
                                                alt=""></div>
                                    <span class="right-text">全球首个NGO区块链应用落地，NGO组织即将迎来三大变革</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="aside-section">
            <div class="aside-title-name clearfix"><span class="aside-title-title">新闻排行</span></div>
            <div class="aside-title">
                <div class="aside-title-con">
                    <div class="news-sort clearfix" style="width: 300px;">
                        <div class="news-sort-box">
                            <div class="list-box clearfix"><span>1</span><a target="_blank" class="right-text"
                                                                            href="/newsdetail?id=2018042720575949679">世界区块链大会
                                    | 圆桌会议：如何在区块链领域做价值投资？</a></div>
                            <div class="list-box clearfix"><span>2</span><a target="_blank" class="right-text"
                                                                            href="/newsdetail?id=2018042717453021639">火星晚八点
                                    | 央行数字研究所所长姚前：中心化和去中心化间将有新领域；俄罗斯在西伯利亚建立合法数字货币挖矿平台</a></div>
                            <div class="list-box clearfix"><span>3</span><a target="_blank" class="right-text"
                                                                            href="/newsdetail?id=2018042719482483858">OKB交易对即将上线
                                    ，首创价格发现方式开盘 | 火星投资快报</a></div>
                            <div class="list-box clearfix"><span>4</span><a target="_blank" class="right-text"
                                                                            href="/newsdetail?id=2018042719061464146">EOS诸侯争霸之际
                                    别低估东北亚的“万币侯”</a></div>
                            <div class="list-box clearfix"><span>5</span><a target="_blank" class="right-text"
                                                                            href="/newsdetail?id=2018042718533940290">当游戏傍上区块链：到底谁蹭谁热点？</a>
                            </div>
                            <div class="list-box clearfix"><span>6</span><a target="_blank" class="right-text"
                                                                            href="/newsdetail?id=2018042717593402385">都在猜
                                    EOS 巨额融资去了哪里，我们搞明了近 7 亿美元的去向</a></div>
                            <div class="list-box clearfix"><span>7</span><a target="_blank" class="right-text"
                                                                            href="/newsdetail?id=2018042716432199218">袁煜明：区块链如何改造生产关系</a>
                            </div>
                            <div class="list-box clearfix"><span>8</span><a target="_blank" class="right-text"
                                                                            href="/newsdetail?id=2018042715532153373">ViaBTC杨海坡：从BCH到EOS，快和免费永远是刚需</a>
                            </div>
                            <div class="list-box clearfix"><span>9</span><a target="_blank" class="right-text"
                                                                            href="/newsdetail?id=2018042714541821665">EOS超级节点大战
                                    ：中国26节点参选垄断前三</a></div>
                            <div class="list-box clearfix"><span>10</span><a target="_blank" class="right-text"
                                                                             href="/newsdetail?id=2018042714352987196">以太坊可能被视为证券？归根到底还是去中心化的问题</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>