<div class="header-roll-msg-wrap">
    <div class="header-roll" id="coinInfo"></div>
</div>
<div class="header-nav-wrap">
    <div class="header-nav">
        <iframe style="display: none;"></iframe>
        <a class="logo-img" href="/">
            <img src="./img/header/logo-last-new.svg"
                 alt="" class="logo"><span>区块链先锋门户</span></a>
        <ul class="nav-content">
            <li class="nav-item "><a target="_blank" href="/index">首页</a></li>
            <li class="nav-item "><a target="_blank" href="/news">新闻</a></li>
            <li class="nav-item ">
                <a target="_blank" href="/forum">火星社区</a>
                <img class="new-icon" src="./img/header/beta-icon.png">
            </li>
            <li class="nav-item ">
                <a target="_blank" href="/baike">百科</a>
                <img class="new-icon" src="./img/header/new-icon.png">
            </li>
            <li class="nav-item "><a target="_blank" href="/livenews">快讯</a></li>
            <li class="nav-item "><a target="_blank" href="/news?id=7">游戏</a></li>
            <li class="nav-item "><a target="_blank" href="/markets">行情</a></li>
            <!--<li class="nav-item "><a target="_blank" href="/app">APP</a></li>-->
        </ul>
        <div class="search-content-div">
            <div class="search-box-btn">
                <p class="search-content">
                    <input type="text" class="search-input"  placeholder="输入关键词" maxlength="20">
                </p>
            </div>
            <span class="close"></span>
        </div>
        <p id="navLoginContent" class="login-content">
            <span class="login show-login">登录</span>
            <a style="display:none" class="login" title="LeonChou" href="/user">LeonCh...</a>
            <span class="separation"> </span>
            <span class="register show-register">注册</span>
            <span style="display:none" id="loginOut">注销</span>
        </p>
        <div class="wx-ewm">
            <div class="wx-ewm-img"><img src="./img/header/sw-ewm.png" alt=""><img src="./img/header/hx-ewm.png" alt="">
            </div>
        </div>
    </div>
    <%- include('./login') %>
</div>
