<div class="footer-main">
    <div class="footer-partner">
        <div class="footer-share-con">
            <div class="footer-share">
                <div class="list l1">
                    <div class="wx-fx">
                        <div class="arrow_down"></div>
                        <p><img src="./img/footer/tenques.png" alt=""><span>王峰十问</span></p>
                        <p><img src="./img/footer/qrcode.jpg" alt=""><span>火星财经</span></p></div>
                </div>
                <div class="list l2"><a href="https://t.me/huoxing24" target="_blank"></a></div>
                <div class="list l3"><a href="http://weibo.com/huoxing24" target="_blank"></a></div>
            </div>
        </div>
        <div class="footer-partner-con"><h3>内容合作</h3>
            <div class="ft-partner-link clearfix">
                <a target="_blank" href="http://new.linekong.com/" class="linekong">蓝港互动<span></span></a>
                <a target="_blank" href="http://www.xiaoqing.store" class="linekong">小青音箱<span></span></a>
                <a target="_blank" href="https://niuyan.com/" class="linekong">牛眼<span></span></a>
                <a target="_blank" href="https://www.csdn.net/" class="linekong">CSDN<span></span></a>
                <a target="_blank" href="https://block.cc/" class="linekong">Block.cc<span></span></a>
                <a target="_blank" href="http://www.163.com/" class="linekong">网易<span></span></a>
                <a target="_blank" href="http://www.8btc.com/" class="linekong">巴比特<span></span></a>
                <a target="_blank" href="http://www.jinse.com/" class="linekong">金色财经<span></span></a>
                <a target="_blank" href="http://www.chaindd.com/" class="linekong">链得得<span></span></a>
                <a target="_blank" href="http://www.fn.com" class="linekong">FN财经<span></span></a>
                <a target="_blank" href="https://www.chainfor.com/" class="linekong">链向财经<span></span></a>
                <a target="_blank" href="http://www.jinniu.cn/" class="linekong">金牛财经<span></span></a>
                <a target="_blank" href="http://www.tuoluocaijing.com/" class="linekong">陀螺财经<span></span></a>
                <a target="_blank" href="https://www.feixiaohao.com/" class="linekong">非小号<span></span></a>
                <a target="_blank" href="https://www.bitask.org" class="linekong">币问<span></span></a>
                <a target="_blank" href="http://bc.jrj.com.cn/" class="linekong">金融界区块链<span></span></a>
                <a target="_blank" href="https://www.coinbull.one" class="linekong">币牛牛<span></span></a>
                <a target="_blank" href="https://www.bitnews.vip" class="linekong">比特快讯<span></span></a>
                <a target="_blank" href="https://www.yaofache.com/" class="linekong">要发车<span></span></a>
                <a target="_blank" href="http://www.baijing.io" class="linekong">白鲸财经<span></span></a>
            </div>
            <div class="cooperation"><h4>广告合作</h4><h4>QQ：<span>133000693</span></h4><h4>手机：<span>&#8237;13133477779&#8236;</span>
                </h4><h4>商务邮箱：<span>bd@huoxing24.com</span></h4><h4>投稿邮箱：<span>tougao@huoxing24.com</span></h4></div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="hot-label"><h5>热门标签</h5>
            <ul>
                <li><a target="_blank" href="/hot?tags=王峰十问">王峰十问</a></li>
                <li><a target="_blank" href="/hot?tags=DAO">DAO</a></li>
                <li><a target="_blank" href="/hot?tags=监管">监管</a></li>
                <li><a target="_blank" href="/hot?tags=比特币">比特币</a></li>
                <li><a target="_blank" href="/hot?tags=挖矿">挖矿</a></li>
                <li><a target="_blank" href="/hot?tags=智能合约">智能合约</a></li>
                <li><a target="_blank" href="/hot?tags=去中心化">去中心化</a></li>
                <li><a target="_blank" href="/hot?tags=侧链">侧链</a></li>
                <li><a target="_blank" href="/hot?tags=硬分叉">硬分叉</a></li>
                <li><a target="_blank" href="/hot?tags=瑞波币">瑞波币</a></li>
                <li><a target="_blank" href="/hot?tags=bitcoin">bitcoin</a></li>
                <li><a target="_blank" href="/hot?tags=比特币扩容">比特币扩容</a></li>
                <li><a target="_blank" href="/hot?tags=区块链">区块链</a></li>
                <li><a target="_blank" href="/hot?tags=加密货币">加密货币</a></li>
                <li><a target="_blank" href="/hot?tags=以太坊">以太坊</a></li>
                <li><a target="_blank" href="/hot?tags=数字货币">数字货币</a></li>
                <li><a target="_blank" href="/hot?tags=中本聪">中本聪</a></li>
                <li><a target="_blank" href="/hot?tags=ETC">ETC</a></li>
                <li><a target="_blank" href="/hot?tags=甲子光年">甲子光年</a></li>
                <li><a target="_blank" href="/hot?tags=增加">增加</a></li>
                <li><a target="_blank" href="/hot?tags=数字货币">数字货币</a></li>
                <li><a target="_blank" href="/hot?tags=火星财经">火星财经</a></li>
            </ul>
        </div>
        <div class="footer-copyright-con">Copyright ©2018 Huoxing24 Ltd. All Rights Reserved.</div>
        <div class="fo-left clearfix"><a href="/about">关于我们</a><span class="cutline"></span><a
                    href="/copyright">版权声明</a></div>
    </div>
</div>

<!-- public -->
<script src="http://static.huoxing24.com/assets/jquery-1.12.0.min.js"></script>

<!-- plugin -->
<% for (var i = 0 in plugin) { %>
<script src="<%= plugin[i] %>"></script>
<% } %>

<!-- private -->
<script src="./js/vendors.js"></script>
<!--<script src="./js/common.js"></script>-->
<% for (var i = 0 in private) { %>
<script src="<%= private[i] %>"></script>
<% } %>

<!-- statistics -->
<!--<div style="display: none">
    <script src="cnzz统计代码" language="JavaScript"></script>
</div>-->

</body>
</html>
