<!-- 登录 -->
<div id="loginBlock" class="login-mask" style="display: none;">
    <div class="login-con">
        <iframe src="" style="display: none;"></iframe>
        <div id="registerModal" class="login-con-main" style="display: none;">
            <h1>注册</h1>
            <p class="error-msg "></p>
            <div class="login-item">
                <span>
                    <img src="../img/login/login-phone-number.png">
                </span>
                <input name="phone" placeholder="请输入手机号码">
            </div>
            <div class="login-item auth-code-item">
                <span>
                    <img src="../img/login/login-auth-code.png">
                </span>
                <a id="getCodeBtn" style="display: block;">获取验证码</a>
                <a id="waitTime" class="auth-wait-time" style="display: none;">60S</a>
                <input name="code" placeholder="请输入手机验证码">
            </div>
            <div class="login-item">
                <span><img src="../img/login/login-password.png">
                </span>
                <input name="pwd" type="password" placeholder="请输入新密码">
            </div>
            <div class="login-item">
                <span>
                    <img src="../img/login/login-re-password.png">
                </span>
                <input name="repwd" type="password" placeholder="请再次输入新密码">
            </div>
            <button>注册</button>
            <div class="login-tips"><p>已有账号？<a class="show-login">立即登录</a></p></div>
        </div>
        <div id="loginModal" class="login-con-main" style="display: none;">
            <h1>登录</h1>
            <p class="login-error-msg "></p>
            <div class="login-item">
                <span>
                    <img src="../img/login/login-phone-number.png">
                </span>
                <input name="phone" placeholder="请输入手机号码">
            </div>
            <div class="login-item">
                <span>
                    <img src="../img/login/login-password.png">
                </span>
                <input name="pwd" type="password" placeholder="请输入密码">
            </div>
            <button>登录</button>
            <div class="login-tips clearfix">
                <p>没有账号？<a class="show-register">立即注册</a></p>
                <a class="forget-password">忘记密码</a>
            </div>
        </div>
        <a class="login-close">
            <img src="../img/login/login-close.png">
        </a>
    </div>
</div>