<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title><%= webSiteInfo.title %></title>
    <meta name="keywords" content="<%= webSiteInfo.keywords %>">
    <meta name="description" content="<%= webSiteInfo.description %>">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport"
          content="
          width=device-width,
          initial-scale=1.0,
          minimum-scale=1.0,
          maximum-scale=1.0,
          user-scalable=no"/>
    <link rel='icon' href='./img/icon.ico' type='image/x-ico'>

    <!--[if lte IE 8]>
    <script src="http://static.huoxing24.com/assets/browser-tips.js"></script>
    <![endif]-->

    <!--public-->

    <!--plugin-->
    @@for (var i = 0 in plugin) {
    <link href="`+plugin[i]+`" rel="stylesheet">
    }

    <!--private-->
    @@for (var i = 0 in private) {
    <link href="`+private[i]+`" rel="stylesheet">
    }
    <script>
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
</head>
<body>

<!-- page loading -->
<div class="lk-loading active" id="pageLoading">
    <div class="lk-loading-center">
        <div class="lk-loading-center-absolute">
            <div class="round round-one"></div>
            <div class="round round-two"></div>
            <div class="round round-three"></div>
        </div>
    </div>
</div>

<!-- 行情滚动信息 -->
<div class="header-roll-msg-wrap">
    <div class="header-roll" id="coinInfo"></div>
</div>

<!-- 头部 -->
<div class="header-nav-wrap">
    <!-- 头部导航 -->
    <div class="header-nav">
        <iframe style="display: none;"></iframe>
        <a class="logo-img" href="/">
            <img src="./img/header/logo-last-new.svg"
                 alt="" class="logo"><span>区块链先锋门户</span></a>
        <ul class="nav-content">
            <li class="nav-item "><a target="_blank" href="/index">首页</a></li>
            <li class="nav-item "><a target="_blank" href="/news">新闻</a></li>
            <li class="nav-item ">
                <a target="_blank" href="http://bbs.huoxing24.com/">火星社区</a>
                <img class="new-icon" src="./img/header/beta-icon.png">
            </li>
            <li class="nav-item ">
                <a target="_blank" href="http://baike.huoxing24.com/">百科</a>
                <img class="new-icon" src="./img/header/new-icon.png">
            </li>
            <li class="nav-item "><a target="_blank" href="/livenews">快讯</a></li>
            <li class="nav-item "><a target="_blank" href="/news?id=7">游戏</a></li>
            <li class="nav-item "><a target="_blank" href="/markets">行情</a></li>
            <!--<li class="nav-item "><a target="_blank" href="/app">APP</a></li>-->
        </ul>
        <div class="search-content-div">
            <div class="search-box-btn">
                <p class="search-content">
                    <input type="text" class="search-input" placeholder="输入关键词" maxlength="20">
                </p>
            </div>
            <span class="close"></span>
        </div>
        <p id="navLoginContent" class="login-content">
            <span class="login show-login">登录</span>
            <a style="display:none" class="login" title="LeonChou" href="/user">LeonCh...</a>
            <span class="separation"> </span>
            <span class="register show-register">注册</span>
            <span style="display:none" id="loginOut">注销</span>
        </p>
        <div class="wx-ewm">
            <div class="wx-ewm-img"><img src="./img/header/sw-ewm.png" alt=""><img src="./img/header/hx-ewm.png" alt="">
            </div>
        </div>
    </div>
    <!-- 图形验证 -->
    <div class="code-shade"></div>
    <div class="verification-img" id="verificationImg">
        <div class="close-img">
            <img src="../img/login/login-close.png" alt="">
        </div>
        <h5>验证</h5>
        <input type="text" class="code-text">
        <p>
            <img id="codeImg" src="/passport/account/getGraphCode" alt="">
        </p>
        <div class="refresh">
            <img src="../img/login/refresh.png" alt="">
        </div>
        <button id="codeBtn">确定</button>
    </div>
    <!-- 登录 -->
    <div id="loginBlock" class="login-mask" style="display: none;">
        <div class="login-con">
            <iframe src="" style="display: none;"></iframe>
            <div id="registerModal" class="login-con-main" style="display: none;">
                <h1>注册</h1>
                <p class="error-msg "></p>
                <div class="login-item">
                <span>
                    <img src="../img/login/login-phone-number.png">
                </span>
                    <input name="phone" placeholder="请输入手机号码">
                </div>
                <div class="login-item auth-code-item">
                <span>
                    <img src="../img/login/login-auth-code.png">
                </span>
                    <a id="getCodeBtn" style="display: block;">获取验证码</a>
                    <a id="waitTime" class="auth-wait-time" style="display: none;">60S</a>
                    <input name="code" placeholder="请输入手机验证码">
                </div>
                <div class="login-item">
                <span><img src="../img/login/login-password.png">
                </span>
                    <input name="pwd" type="password" placeholder="请输入新密码">
                </div>
                <div class="login-item">
                <span>
                    <img src="../img/login/login-re-password.png">
                </span>
                    <input name="repwd" type="password" placeholder="请再次输入新密码">
                </div>
                <button>注册</button>
                <div class="login-tips"><p>已有账号？<a class="show-login">立即登录</a></p></div>
            </div>
            <div id="loginModal" class="login-con-main" style="display: none;">
                <h1>登录</h1>
                <p class="login-error-msg "></p>
                <div class="login-item">
                <span>
                    <img src="../img/login/login-phone-number.png">
                </span>
                    <input name="phone" placeholder="请输入手机号码">
                </div>
                <div class="login-item">
                <span>
                    <img src="../img/login/login-password.png">
                </span>
                    <input name="pwd" type="password" placeholder="请输入密码">
                </div>
                <button>登录</button>
                <div class="login-tips clearfix">
                    <p>没有账号？<a class="show-register">立即注册</a></p>
                    <a class="forget-password">忘记密码</a>
                </div>
            </div>
            <a class="login-close">
                <img src="../img/login/login-close.png">
            </a>
        </div>
    </div>
</div>
