@@include('public/m-header.ejs', {
"plugin": ["http://static.huoxing24.com/assets/swiperv4/swiper.min.css"],
"private": ["../css/m-index.css"]
})

<script>
    $(function () {
        // 请求签名
        $.ajax({
            url: '/signture',
            type: 'post',
            data: {url: window.location.href},
            success: function (data) {
                wx.config({
                    debug: false,
                    appId: 'wxec2dc083d4024311',
                    timestamp: data.timestamp,
                    nonceStr: data.nonceStr,
                    signature: data.signature,
                    jsApiList: [
                        'checkJsApi',
                        'onMenuShareTimeline',
                        'onMenuShareAppMessage',
                        'onMenuShareQQ'
                    ]
                })

                wx.ready(function () {
                    var shareData = {
                        title: '<%= webSiteInfo.title %>',
                        desc: '<%= webSiteInfo.description %>',
                        link: data.url,
                        imgUrl: '../img/wxshare-icon.png'
                    }
                    wx.onMenuShareAppMessage(shareData)
                    wx.onMenuShareTimeline(shareData)
                    wx.onMenuShareQQ(shareData)
                })

                wx.error(function (err) {
                    console(err.errMsg) // 正式环境关闭
                })
            }
        })
    })
</script>

<div class="clearfix">
    @@include('./m-index/main.ejs')
</div>

@@include('public/m-footer.ejs', {
"plugin": ["http://static.huoxing24.com/assets/swiperv4/swiper.min.js"],
"private": ["../js/m-common.js", " ../js/m-index.js"]
})
