@@include('public/m-header.ejs', {
"plugin": ["http://static.huoxing24.com/assets/swiper.min.css"],
"private": ["../css/m-index.css"]
})

<div class="clearfix">
    m-index-test
</div>

@@include('public/m-footer.ejs', {
"plugin": ["http://static.huoxing24.com/assets/swiper.jquery.min.js"],
"private": ["../js/m-index.js"]
})
